*{
    padding:0px;
    margin:0px;
}

/*Desktop styling*/

header
{
    background-color: rgb(185, 185, 121);
    padding: 1.5%;
}

.column 
{
    float: left;
}
  
  /* Clear floats after the columns */
  .row:after 
{
    content: "";
    display: table;
    clear: both;
}

/*hamburger nav css*/
.nav
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 2%;
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center;
}

.hamburger
{
    position: fixed;
    z-index: 100;
    /* top: 1rem;*/
    right: 1rem;
    padding: 1%;
    margin-top: 2%;
    border: black solid 1px;
    cursor: pointer;
}
.closeIcon
{
    display: none;
}
.menu
{
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0%;
    left: 0%;
    right: 0;
    z-index: 99;
    background: rgb(121, 121, 185);
    color: black;
    list-style: none;
    padding-top: 4rem;
}
.menu a:hover, .menu a:focus
{
    background-color: beige;
}
.showMenu
{
    transform: translateY(18%);
}

#pfp
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
    width: 40%;
    height:auto;
    object-fit: contain;

}

#profile
{
    background-color: rgb(121, 121, 185);
    width: 25%;
    height:100vh;
    padding: 1%;
}

#portfolio
{
    width:71%;
    height:100vh;
    padding: 1%;
}
.project
{
    width: 40%;
    display: block;
    height: auto;
    object-fit: contain;
    float: left;
    padding: 2%;
    background-color: rgb(185, 185, 121);
    margin: 2%;
}
.project img
{
    width: 100%;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}



/* Use a media query to add a breakpoint at 1000px to accomodate iPad and phone*/
@media screen and (max-width: 1000px) 
{
    /*Mobile sizes, makes the profile info go first, then the portfolio*/
    .column
    {
        float:none;
    }
/*header and nav css*/
    header
    {
        background-color: rgb(185, 185, 121);
        padding-left: 35%;
    }
    

    #profile
    {
        background-color: rgb(121, 121, 185);
        width: 80%;
        height: auto;
        padding: 2%;
        margin-left: 8%;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    #portfolio
    {
        width:100%;
        height:auto;
        padding: 1%;
        background-color: rgb(185, 185, 121);
    }
    .projTitle
    {
        padding-left: 40%;
    }
    .project
    {
        width: 80%;
        height: auto;
        margin: 2%;
        margin-left: 7%;
    }
    .p1
    {
        background-color: rgb(121, 121, 185);
    }
    .p2
    {
        background-color: rgb(121, 121, 185);
    }

}
